@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
*{
    margin: 0px;
    border: 0px;
}
.datosp{
    max-width: 100%;
    height: 700px;
    background-color: #fff;
    position: relative;
}
.datospA{
    position: relative;
    margin: auto;
    width: 1152px;
    height: 586px;
    background: #FFFFFF;
}
.datosp1{
    position: absolute;
    width: 206px;
    height: 36px;
    left: 127px;
    top: 27px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #483C41;
}
.datosp2{
    position: absolute;
    width: 64px;
    height: 24px;
    left: 127px;
    top: 90px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #736A6D;
}
.datosp3{
    position: absolute;
    width: 300px;
    height: 36px;
    left: 127px;
    top: 130px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FAF9F9;
    border: 1px solid #E2E0E1;
    box-sizing: border-box;
    border-radius: 8px;
}
.datosp4{
    position: absolute;
    width: 64px;
    height: 24px;
    left: 477px;
    top: 90px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #736A6D;
}
.datosp5{
    position: absolute;
    width: 300px;
    height: 36px;
    left: 477px;
    top: 130px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FAF9F9;
    border: 1px solid #E2E0E1;
    box-sizing: border-box;
    border-radius: 8px;
}
.datosp6{
    position: absolute;
    width: 54px;
    height: 24px;
    left: 127px;
    top: 190px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #D5D2D3;
}
.datosp7{
    position: absolute;
    width: 300px;
    height: 36px;
    left: 127px;
    top: 230px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FAF9F9;
    border: 1px solid #EEEDEE;
    box-sizing: border-box;
    border-radius: 8px;
}
.datosp8{
    position: absolute;
    width: 94px;
    height: 24px;
    left: 477px;
    top: 190px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #736A6D;
}
.datosp9{
    position: absolute;
    width: 300px;
    height: 36px;
    left: 477px;
    top: 230px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FAF9F9;
    border: 1px solid #E2E0E1;
    box-sizing: border-box;
    border-radius: 8px;
}
.datosp10{
    position: absolute;
    width: 76px;
    height: 24px;
    left: 127px;
    top: 290px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #736A6D;
}
.datosp11{
    position: absolute;
    width: 300px;
    height: 36px;
    left: 127px;
    top: 330px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FAF9F9;
    border: 1px solid #E2E0E1;
    box-sizing: border-box;
    border-radius: 8px;
}
.datosp12{
    position: absolute;
    width: 110px;
    height: 40px;
    left: 127px;
    top: 412px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    background: #ED4055;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}