@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
*{
    margin: 0px;
    border: 0px;
}
.evelist{
    max-width: 100%;
    height: 700px;
    background-color: #fff;
    position: relative;
}
.evelistA{
    position: relative;
    margin: auto;
    width: 1152px;
    height: 586px;
    background: #FFFFFF;
}
h1{
    position: absolute;
    width: 190px;
    height: 36px;
    left: 127px;
    top: 28px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #483C41;
}
.neweve{
    position: absolute;
    width: 109px;
    height: 40px;
    left: 916px;
    top: 60px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*padding: 8px 16px;*/
    background: #FF0088;
    border-radius: 8px;
    text-decoration-line: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    word-spacing: 10px;
}
.tabla{
    position: absolute;
    width: 898px;
    height: auto;
    left: 127px;
    top: 130px;
    font-family: 'Poppins', sans-serif;
    border-spacing: 0px;
    /*border: 1px solid #D5D2D3;
    box-sizing: border-box;*/
    border-radius: 8px;
}
/*
.id{
    position: absolute;
    width: 16px;
    height: 24px;
    left: 147px;
    top: 130px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #736A6D;
}
.nombre{
    position: absolute;
    width: 64px;
    height: 24px;
    left: 229px;
    top: 130px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #736A6D;
}
.fecha_inicio{
    position: absolute;
    width: 96px;
    height: 24px;
    left: 405px;
    top: 130px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #736A6D;
}*/

.evelistT{
    width: 898px;
    height: 40px;
    left: 127px;
    top: 170px;
    border: 1px solid #D5D2D3;
    background: #FAF9F9;
    border-spacing: 0px;
    box-sizing: border-box;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
th{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #736A6D;
    border-radius: 8px;
}
td{
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #736A6D;
}
.modal-evento{
    background: #FFFFFF;
    border-radius: 15px;
    width: 668px;
    position: relative;
    margin: 10% auto;
}
.modaleve{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 0.3s;
    padding: auto;
  }
#modal-cont-evento:target{
    opacity:1;
    pointer-events:auto;
    font-family: 'Poppins', sans-serif;
}
.modal-evento2{
    position: absolute;
    width: 135px;
    height: 36px;
    left: 361px;
    top: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.01em;
    color: #736A6D;
}
.modal-evento3{
    position: absolute;
    width: 80px;
    height: 24px;
    left: 361px;
    top: 88px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #736A6D;
}
.modal-evento4{
    position: absolute;
    width: 85px;
    height: 24px;
    left: 497px;
    top: 88px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #736A6D;
}
/*.modal-evento5{
    position: absolute;
    width: 258px;
    height: 85px;
    left: 361px;
    top: 128px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #736A6D;
}*/
.modal-evento6{
    position: absolute;
}
.modal-evento7{
    position: absolute;
}
.modal-evento8{
    position: absolute;
}
