@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
*{
    margin: 0px;
    border: 0px;
}
.login{
    max-width: 100%;
    height: 586px;
    background-color: #fff;
    position: relative;
}
.loginA{
    position: relative;
    margin: auto;
    width: 1152px;
    height: 700px;
    background: #FFFFFF;
}
.login1{
    position: absolute;
    width: 170px;
    height: 36px;
    left: 354px;
    top: 90px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FF0088;

}
.login2{
    position: absolute;
    width: 174px;
    height: 36px;
    left: 624px;
    top: 90px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration-line: none;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #736A6D;
}
.login3{
    position: absolute;
    background: #EEEDEE;
    border-radius: 2px;
    top: 138px;
    right: 264px;
    bottom: 442px;
    left: 264px;
    width: 624px;
    height: 6px;
}
.login4{
    position: absolute;
    background: #FF0088;
    border-radius: 2px;
    top: 138px;
    right: 576px;
    bottom: 442px;
    left: 264px;
    width: 312px;
    height: 6px;
}
.login5{
    position: absolute;
    width: 54px;
    height: 24px;
    left: 277px;
    top: 186px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #736A6D;
}
.login6{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    background: #FAF9F9;
    border: 1px solid #E2E0E1;
    box-sizing: border-box;
    border-radius: 8px;
    top: 226px;
    right: 588px;
    bottom: 324px;
    left: 264x;
    width: 300px;
    height: 36px;
}
.login7{
    position: absolute;
    width: 94px;
    height: 24px;
    left: 588px;
    top: 186px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #736A6D;
}
/*
    top: ;
    right: ;
    bottom: ;
    left: ;
*/
.login8{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    background: #FAF9F9;
    border: 1px solid #E2E0E1;
    box-sizing: border-box;
    border-radius: 8px;
    top: 226px;
    right: 264px;
    bottom: 324px;
    left: 588x;
    width: 300px;
    height: 36px;
}
.login9{
    position: absolute;
    width: 169px;
    height: 24px;
    left: 264px;
    top: 286px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    text-decoration-line: underline;
    color: #736A6D;
    width: 169px;
    height: 24px;
}
.login10{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    position: absolute;
    width: 624px;
    height: 40px;
    left: 264px;
    top: 362px;
    background: #FF0088;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}